In [1]:
import os
import pandas as pd

os.getcwd() # current working new directory
os.chdir('D:\Pendrive')
os.getcwd()

'D:\\Pendrive'

In [4]:
medals=pd.read_csv("http://winterolympicsmedals.com//medals.csv",)
print(medals)

      Year      City       Sport      Discipline  NOC            Event  \
0     1924  Chamonix     Skating  Figure skating  AUT       individual
1     1924  Chamonix     Skating  Figure skating  AUT       individual
2     1924  Chamonix     Skating  Figure skating  AUT            pairs
3     1924  Chamonix   Bobsleigh       Bobsleigh  BEL         four-man
4     1924  Chamonix  Ice Hockey      Ice Hockey  CAN       ice hockey
...    ...       ...         ...             ...  ...              ...
2306  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2307  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2308  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2309  2006     Turin      Skiing       Snowboard  USA  Snowboard Cross
2310  2006     Turin      Skiing       Snowboard  USA  Snowboard Cross

     Event gender   Medal
0               M  Silver
1               W    Gold
2               X    Gold
3               M  Bronze
4               M    Gold
...           ...     ...
2306            M  Silver
2307            W    Gold
2308            W  Silver
2309            M    Gold
2310            W  Silver

[2311 rows x 8 columns]

In [5]:
medals

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [7]:
medals.shape

(2311, 8)

In [8]:
medals=pd.read_csv("http://winterolympicsmedals.com//medals.csv",skipfooter=5)
print(medals)

      Year      City       Sport      Discipline  NOC                  Event  \
0     1924  Chamonix     Skating  Figure skating  AUT             individual
1     1924  Chamonix     Skating  Figure skating  AUT             individual
2     1924  Chamonix     Skating  Figure skating  AUT                  pairs
3     1924  Chamonix   Bobsleigh       Bobsleigh  BEL               four-man
4     1924  Chamonix  Ice Hockey      Ice Hockey  CAN             ice hockey
...    ...       ...         ...             ...  ...                    ...
2301  2006     Turin      Skiing   Alpine Skiing  USA        Alpine combined
2302  2006     Turin      Skiing   Alpine Skiing  USA           giant slalom
2303  2006     Turin      Skiing  Freestyle Ski.  USA                 moguls
2304  2006     Turin      Skiing       Snowboard  USA  Giant parallel slalom
2305  2006     Turin      Skiing       Snowboard  USA              Half-pipe

     Event gender   Medal
0               M  Silver
1               W    Gold
2               X    Gold
3               M  Bronze
4               M    Gold
...           ...     ...
2301            M    Gold
2302            W    Gold
2303            M  Bronze
2304            W  Bronze
2305            M    Gold

[2306 rows x 8 columns]

C:\Users\sachi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [10]:
medals.shape

(2306, 8)

In [12]:
medals=pd.read_csv("http://winterolympicsmedals.com//medals.csv",nrows=10)
print(medals)

   Year      City       Sport      Discipline  NOC            Event  \
0  1924  Chamonix     Skating  Figure skating  AUT       individual
1  1924  Chamonix     Skating  Figure skating  AUT       individual
2  1924  Chamonix     Skating  Figure skating  AUT            pairs
3  1924  Chamonix   Bobsleigh       Bobsleigh  BEL         four-man
4  1924  Chamonix  Ice Hockey      Ice Hockey  CAN       ice hockey
5  1924  Chamonix    Biathlon        Biathlon  FIN  military patrol
6  1924  Chamonix     Skating  Figure skating  FIN            pairs
7  1924  Chamonix     Skating   Speed skating  FIN           10000m
8  1924  Chamonix     Skating   Speed skating  FIN           10000m
9  1924  Chamonix     Skating   Speed skating  FIN            1500m

  Event gender   Medal
0            M  Silver
1            W    Gold
2            X    Gold
3            M  Bronze
4            M    Gold
5            M  Silver
6            X  Silver
7            M    Gold
8            M  Silver
9            M    Gold

In [13]:
medals.shape

(10, 8)

In [14]:
medals=pd.read_csv("http://winterolympicsmedals.com//medals.csv",usecols=[1,4,6])
print(medals)

          City  NOC Event gender
0     Chamonix  AUT            M
1     Chamonix  AUT            W
2     Chamonix  AUT            X
3     Chamonix  BEL            M
4     Chamonix  CAN            M
...        ...  ...          ...
2306     Turin  USA            M
2307     Turin  USA            W
2308     Turin  USA            W
2309     Turin  USA            M
2310     Turin  USA            W

[2311 rows x 3 columns]

In [15]:
medals.shape

(2311, 3)

In [16]:
medals.head()

       City  NOC Event gender
0  Chamonix  AUT            M
1  Chamonix  AUT            W
2  Chamonix  AUT            X
3  Chamonix  BEL            M
4  Chamonix  CAN            M

In [17]:
m=medals.head()
print(m)

       City  NOC Event gender
0  Chamonix  AUT            M
1  Chamonix  AUT            W
2  Chamonix  AUT            X
3  Chamonix  BEL            M
4  Chamonix  CAN            M

In [18]:
# if we want to wrinting the CSV file then
m.to_csv('new_medals.csv',index=False)
#it will auto save in your current directory

In [23]:
pd.read_excel("medals.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'medals.xlsx'