In [2]:
#function application and loding data in python Pandas library
#table wise =pipe()
#row or column wise=apply()
import numpy as np
import pandas as pd
r=np.random.rand(10,4)
df=pd.DataFrame(r,columns=['A','B','C','D'])
print(df)

          A         B         C         D
0  0.948301  0.344737  0.783243  0.278070
1  0.008996  0.297854  0.730928  0.276842
2  0.830166  0.656580  0.439600  0.395609
3  0.988644  0.886196  0.224891  0.560000
4  0.711000  0.120082  0.747753  0.199409
5  0.976866  0.714674  0.746294  0.219572
6  0.420955  0.044199  0.962820  0.837433
7  0.492919  0.158207  0.613651  0.419809
8  0.145968  0.891618  0.221607  0.907752
9  0.736845  0.621889  0.745287  0.102970

In [3]:
df

          A         B         C         D
0  0.948301  0.344737  0.783243  0.278070
1  0.008996  0.297854  0.730928  0.276842
2  0.830166  0.656580  0.439600  0.395609
3  0.988644  0.886196  0.224891  0.560000
4  0.711000  0.120082  0.747753  0.199409
5  0.976866  0.714674  0.746294  0.219572
6  0.420955  0.044199  0.962820  0.837433
7  0.492919  0.158207  0.613651  0.419809
8  0.145968  0.891618  0.221607  0.907752
9  0.736845  0.621889  0.745287  0.102970

In [4]:
df.pipe(type)

pandas.core.frame.DataFrame

In [5]:
def add(a,b):
    return a+b

df.pipe(add,10)

           A          B          C          D
0  10.948301  10.344737  10.783243  10.278070
1  10.008996  10.297854  10.730928  10.276842
2  10.830166  10.656580  10.439600  10.395609
3  10.988644  10.886196  10.224891  10.560000
4  10.711000  10.120082  10.747753  10.199409
5  10.976866  10.714674  10.746294  10.219572
6  10.420955  10.044199  10.962820  10.837433
7  10.492919  10.158207  10.613651  10.419809
8  10.145968  10.891618  10.221607  10.907752
9  10.736845  10.621889  10.745287  10.102970

In [6]:
df.apply(type)

A    <class 'pandas.core.series.Series'>
B    <class 'pandas.core.series.Series'>
C    <class 'pandas.core.series.Series'>
D    <class 'pandas.core.series.Series'>
dtype: object

In [7]:
df.apply(mean)

NameError: name 'mean' is not defined

In [8]:
#which pakage it is belongs
#numpy
df.apply(np.mean)

A    0.626066
B    0.473604
C    0.621608
D    0.419746
dtype: float64

In [9]:
df.apply(np.mean,axis =1)

0    0.588587
1    0.328655
2    0.580489
3    0.664933
4    0.444561
5    0.664351
6    0.566352
7    0.421147
8    0.541736
9    0.551747
dtype: float64

In [10]:
df.apply(type,axis =1)

0    <class 'pandas.core.series.Series'>
1    <class 'pandas.core.series.Series'>
2    <class 'pandas.core.series.Series'>
3    <class 'pandas.core.series.Series'>
4    <class 'pandas.core.series.Series'>
5    <class 'pandas.core.series.Series'>
6    <class 'pandas.core.series.Series'>
7    <class 'pandas.core.series.Series'>
8    <class 'pandas.core.series.Series'>
9    <class 'pandas.core.series.Series'>
dtype: object

In [5]:
#how to load the data in python
import os
import pandas as pd

os.getcwd()#current working directory function ...it belongs to the OS package
os.chdir('D:\Pendrive')
os.getcwd()

'D:\\Pendrive'

In [8]:
data=pd.read_csv("D:\Pendrive\movies.csv")
print(data)

       movieId                                title  \
0            1                     Toy Story (1995)
1            2                       Jumanji (1995)
2            3              Grumpier Old Men (1995)
3            4             Waiting to Exhale (1995)
4            5   Father of the Bride Part II (1995)
...        ...                                  ...
10324   146684        Cosmic Scrat-tastrophe (2015)
10325   146878           Le Grand Restaurant (1966)
10326   148238       A Very Murray Christmas (2015)
10327   148626                 The Big Short (2015)
10328   149532  Marco Polo: One Hundred Eyes (2015)

                                            genres
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
10324                    Animation|Children|Comedy
10325                                       Comedy
10326                                       Comedy
10327                                        Drama
10328                           (no genres listed)

[10329 rows x 3 columns]

In [10]:
data.shape

(10329, 3)

In [11]:
data.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [12]:
#to change the header part
#to remove the header part put header=1,skiprows=1,
data=pd.read_csv("D:\Pendrive\movies.csv",skiprows=1,names=['Id','Movie title','gener'])
print(data)

           Id                          Movie title  \
0           1                     Toy Story (1995)
1           2                       Jumanji (1995)
2           3              Grumpier Old Men (1995)
3           4             Waiting to Exhale (1995)
4           5   Father of the Bride Part II (1995)
...       ...                                  ...
10324  146684        Cosmic Scrat-tastrophe (2015)
10325  146878           Le Grand Restaurant (1966)
10326  148238       A Very Murray Christmas (2015)
10327  148626                 The Big Short (2015)
10328  149532  Marco Polo: One Hundred Eyes (2015)

                                             gener
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
10324                    Animation|Children|Comedy
10325                                       Comedy
10326                                       Comedy
10327                                        Drama
10328                           (no genres listed)

[10329 rows x 3 columns]

In [14]:
#to skip the rows
#when we put header=None then it will count the header in to the variables
data=pd.read_csv("D:\Pendrive\movies.csv",skiprows=[1,2,4])
print(data)

       movieId                                title                     genres
0            3              Grumpier Old Men (1995)             Comedy|Romance
1            5   Father of the Bride Part II (1995)                     Comedy
2            6                          Heat (1995)      Action|Crime|Thriller
3            7                       Sabrina (1995)             Comedy|Romance
4            8                  Tom and Huck (1995)         Adventure|Children
...        ...                                  ...                        ...
10321   146684        Cosmic Scrat-tastrophe (2015)  Animation|Children|Comedy
10322   146878           Le Grand Restaurant (1966)                     Comedy
10323   148238       A Very Murray Christmas (2015)                     Comedy
10324   148626                 The Big Short (2015)                      Drama
10325   149532  Marco Polo: One Hundred Eyes (2015)         (no genres listed)

[10326 rows x 3 columns]

In [15]:
data

       movieId                                title                     genres
0            3              Grumpier Old Men (1995)             Comedy|Romance
1            5   Father of the Bride Part II (1995)                     Comedy
2            6                          Heat (1995)      Action|Crime|Thriller
3            7                       Sabrina (1995)             Comedy|Romance
4            8                  Tom and Huck (1995)         Adventure|Children
...        ...                                  ...                        ...
10321   146684        Cosmic Scrat-tastrophe (2015)  Animation|Children|Comedy
10322   146878           Le Grand Restaurant (1966)                     Comedy
10323   148238       A Very Murray Christmas (2015)                     Comedy
10324   148626                 The Big Short (2015)                      Drama
10325   149532  Marco Polo: One Hundred Eyes (2015)         (no genres listed)

[10326 rows x 3 columns]

In [20]:
data1=pd.read_csv("D:/Pendrive/ratings.csv",)
print(data1)

        userId  movieId  rating   timestamp
0            1       16     4.0  1217897793
1            1       24     1.5  1217895807
2            1       32     4.0  1217896246
3            1       47     4.0  1217896556
4            1       50     4.0  1217896523
...        ...      ...     ...         ...
105334     668   142488     4.0  1451535844
105335     668   142507     3.5  1451535889
105336     668   143385     4.0  1446388585
105337     668   144976     2.5  1448656898
105338     668   148626     4.5  1451148148

[105339 rows x 4 columns]

In [21]:
data1.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [27]:
#change the data types
data1=pd.read_csv("D:/Pendrive/ratings.csv",verbose=True)
print(data1)

Tokenization took: 43.17 ms
Type conversion took: 16.56 ms
Parser memory cleanup took: 0.00 ms
        userId  movieId  rating   timestamp
0            1       16     4.0  1217897793
1            1       24     1.5  1217895807
2            1       32     4.0  1217896246
3            1       47     4.0  1217896556
4            1       50     4.0  1217896523
...        ...      ...     ...         ...
105334     668   142488     4.0  1451535844
105335     668   142507     3.5  1451535889
105336     668   143385     4.0  1446388585
105337     668   144976     2.5  1448656898
105338     668   148626     4.5  1451148148

[105339 rows x 4 columns]

In [26]:
data1.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [28]:
##working with text data
import pandas as pd
a=pd.Series(['sachin','Dream coders','9928871084','Jaipur','Sachinpareek21874@gmail.com'])
print(a)

0                         sachin
1                   Dream coders
2                     9928871084
3                         Jaipur
4    Sachinpareek21874@gmail.com
dtype: object

In [29]:
a.str.islower()

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [30]:
a.str.isupper()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [31]:
a.str.isnumeric()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [32]:
a.str.lower()

0                         sachin
1                   dream coders
2                     9928871084
3                         jaipur
4    sachinpareek21874@gmail.com
dtype: object

In [33]:
a.str.upper()

0                         SACHIN
1                   DREAM CODERS
2                     9928871084
3                         JAIPUR
4    SACHINPAREEK21874@GMAIL.COM
dtype: object

In [34]:
a.str.swapcase()

0                         SACHIN
1                   dREAM CODERS
2                     9928871084
3                         jAIPUR
4    sACHINPAREEK21874@GMAIL.COM
dtype: object

In [35]:
a.str.len()

0     6
1    12
2    10
3     6
4    27
dtype: int64

In [36]:
a.str.cat()

'sachinDream coders9928871084JaipurSachinpareek21874@gmail.com'

In [37]:
a.str.cat(sep=' ')

'sachin Dream coders 9928871084 Jaipur Sachinpareek21874@gmail.com'

In [38]:
a.str.replace('@','$')

0                         sachin
1                   Dream coders
2                     9928871084
3                         Jaipur
4    Sachinpareek21874$gmail.com
dtype: object

In [39]:
a.str.count('s')

0    1
1    1
2    0
3    0
4    0
dtype: int64